
#house-chart {
    font-family: 'Jolly Lodger', cursive;
    font-size: 100px;
    position: relative;
}

#species-chart {
     font-family: 'Jolly Lodger', cursive;
    background: #fffff0;
    position: relative;
}

body {
    font-family: 'Jolly Lodger', cursive;
}

.navbar-brand {
    float: none;
    font-size: 40px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-size: larger;
}